@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Cores: #5576D9 | #324359 | #ACCAF2 | #E2F26B | #F2B33D */

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background: #ACCAF2;
}

header{
    max-width: 100vw;
    background: #324359;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0px 20px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Indie flower';
    color: #ffffff;
}

i {
    color: white;
}


#informacoes {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    align-items: flex-end;
    flex-wrap: nowrap;
}

#bannerVertical {
    border-radius: 15px;
    box-shadow: 2px 2px 6px #324359;
    max-height: 270px;
    width: 30%;
}

.titulo {
    font: bolder 1em 'Indie Flower';
}

#informacoes p {
    color: #000000;
}

#informacoes section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 90px;
    background-color: #ACCAF2;
    padding: 3px;
    border-radius: 5px 5px 0px 0px;
}

.sinopse {
    margin: 10px;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 4px;
    background-color: #324359;
    color: #ffffff;
}

@media (width >= 600px) {
    #informacoes {
        justify-content: flex-start;
    }

    #bannerVertical {
        width: auto;
    }
}